body{
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
}

#obrastek{
  width: 100%;
}

#hlavicka{
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#obsah{
  background-color: #C1C1C1;
  width: 80%;
  margin: 0 auto;
  min-height: 1000px;
}

.kosicek{
  color: white ;
  text-decoration: none;
}

.tovar{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  grid-gap: 5px;
  grid-row-gap: 0px;
  padding: 5px;
}

.produkt{
  width: 250px;
  height: 300px;
  background-color:white;
  margin: 5px ;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

header nav{
  display: flex;

}


/**** nav ul li *****/
nav li {
    display: block;
    transition-duration: 0,5s;
    color: white;
    background-color: rgb(44, 43, 43);
    float: left;
    padding: 1rem;
    position: relative;
    
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav ul {
   background-color: rgb(44, 43, 43);
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  nav li:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
  
  nav li:hover > a {
    color: black;
  }
  
  ul li ul {
    background-color:rgb(44, 43, 43);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
    box-shadow: 4px 5px 10px rgb(48, 47, 47);
  }

/**** nav ul li *****/



/**** pata *****/
#pata{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color:white;
  vertical-align: middle;
  font-size: 20px;
  height: 40px;
  /*padding: 20px;
*/}

#footer-nadpis{
  color: white;
  margin: 0; 
}

#sitemapa-odkaz{
  color: white;
  padding-left: 15px;
}

/**** pata *****/


h1{
  text-align: left;
  color: #2C4251;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 0px 15px 50px;
  margin: 0px;
  background-color: #B6C649;
}

h2{
  text-align: left;
  color: #2C4251;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 0px 15px 30px;
  margin: 0px;
  background-color: #B6C649;
}




#uvodnytext{
  height: 120px;
  padding: 30px 50px 30px 50px;
  margin: auto;
}

#bikeshopfoto{
  display: block;
  margin: auto;
  max-width: 1100px;
  padding-top: 30px;
  width: 100%;
}

.produkt-mini{
  width: 150px;
  display: block;
  margin: auto;
  padding: 30px 10px 20px 1px;
}

.fotokosik{
  margin: auto;
  display: block;
  margin: 0;
  width: 70px;
}

#kontakttext{
  min-height: 600px;
  padding: 30px 50px 30px 50px;
}

.profilovka{
  width: 150px;
  float: left;
  margin: 0 20px 0 0;
}

.texttovar{
  min-height: 600px;
  padding: 30px 50px 30px 50px;
}

.tovarfoto{
  width: 200px;
  float: left;
  padding: 0 30px 10px 0px;
}

#kosik{
  min-height: 600px;
  padding: 30px 50px 30px 50px;
}

.kosik-tovar{
  padding: 20px 30px 10px 50px;
  
}

.kosik-tovar a{
  float: left;
  padding-right: 10px;
}

.akcia{
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 3%;
  padding-bottom: 5%;
}






@media screen and (max-width: 1200px){
  #obsah{
    background-color: #C1C1C1;
    width: 90%;
    margin: 0 auto;
  }  

}

@media screen and (max-width: 600px){
  #obsah h1{
    font-size: 30px;
  }

  #obsah{
    background-color: #C1C1C1;
    width: 100%;    
    margin: 0 ;
  }  

  #hlavicka{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  #obsah{
    background-color: #C1C1C1;
    margin: 0 auto;
    
  }

  .akcia{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 30%;
    padding-bottom: 5%;
  }
 
}

@media print {
  header {
    visibility: hidden;
  }
  
  #obsah{
    text-align: center;
  }

  .akcia{
    visibility: hidden;
  }

  footer{
    visibility: hidden;
  }

  iframe{
    visibility: hidden;
  }
 }


  
